<div class="max-w-3xl mx-auto">
  <div class="mb-4">
    <h1 class="text-3xl font-bold mb-1">案件を掲載する</h1>
  </div>

  <div class="bg-white rounded-xl shadow border border-gray-100 p-4">
    <%= render 'form', job: @job %>
  </div>
</div>
